{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>Home</h1>
        <p class="lead">My name is Yuval and in my project I will show a clear connection between depression and alcohol and my amazing cute alpaca solution. This is a school project that uses data bases to help the world. so in the website I will show two data bases, one of alcohol consumption and one on suicide rates, there you will be able to see the connection between alcohol and suicide rates by country. In addition I will show skills that I learnt to make an option to log in with a new user, make tables, images, texts, pages and more.</p>
       
    </div>
<img src="https://image.winudf.com/v2/image1/Y29tLkRyYXdhSG91c2UubG9sYWRlc25hc2FyaV9zY3JlZW5fMF8xNTU1OTEwOTEwXzA5NQ/screen-0.jpg?fakeurl=1&type=.jpg" style="width:1150px;height:1150px;" />

{% endblock %}
