{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">My name is Yuval and in my project I will show a clear connection between depression and alcohol and my amazing cute alpaca solution. This is a school project that uses data bases to help the world. so in the website I will show two data bases, one of alcohol consumption and one on suicide rates, there you will be able to see the connection between alcohol and suicide rates by country. In addition I will show skills that I learnt to make an option to log in with a new user, make tables, images, texts, pages and more.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <th>
                    <img src="https://cdn.discordapp.com/attachments/705736568970805259/709828667643003001/unknown.png" style="width:150px;height:150px;" />
                </th>
                <th>
                    <h2 style="color:#A2230A" ;>YUVAL - web designer</h2>
                    <p>Trust me they will make you happy, you can keep drink alcohol.</p>
                </th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <th>
                    <img src="https://cdn.discordapp.com/attachments/705736568970805259/709828730452836492/unknown.png" style="width:150px;height:150px;" />
                </th>
                <th>
                    <h2 style="color:#A2230A" ;>YOTVAT - happiness doctor</h2>
                    <p>I need to hear your heart bit so hug me right now.</p>
                </th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <th>
                    <img src="https://cdn.discordapp.com/attachments/705736568970805259/709828800753565747/unknown.png" style="width:150px;height:150px;" />
                </th>
                <th>
                    <h2 style="color:#A2230A" ;>IMSHAK - professional of happy</h2>
                    <p>You need someone that will always love you, it's me</p>
                </th>
            </tr>
        </table>
    </div>
</div>

<img src="https://cdn.discordapp.com/attachments/705736568970805259/709847758206533692/unknown.png" style="width:975px;height:1000px;" />

{% endblock %}