{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>

<p>This page will enable the user to input a data field</p>


    <form method=post>
        {{ form.csrf }}
        <table>
            <tr>
                <td class="input text"> {{ form.name.label }} </td>
                <td>                    {{ form.name }}       </td>
            </tr>
            <tr>
                <td></td>
                <td class="input submit"> <input type="submit" value="Capital"> </td>
            </tr>
        </table>
    </form>

    <p><h1>Capital of {{Country}} is : <b>{{name}}</b></h1></p>

    <h3> Table is </h3>
    {{ raw_data_table | safe}}


    {% endblock %}


